<!DOCTYPE HTML>
<html lang="en-US" dir="ltr">
    <head>
        <title>Seppo - Corporate One Page WordPress Theme</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Template by CocoBasic" />
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
        <meta name="author" content="CocoBasic" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="images/favicon.ico" />    
        <link href='https://fonts.googleapis.com/css?family=Rubik:400,700,700i' rel='stylesheet' type='text/css'>		
        <link rel="stylesheet" type="text/css"  href='style.css' />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">

        <!--[if lt IE 9]>
                <script src="js/html5shiv.js"></script>            
                <script src="js/respond.min.js"></script>                   
        <![endif]-->         
    </head>

    <body class="page-template-onepage">

        <div class="site-wrapper">   

            <div class="doc-loader">
                <img src="images/preloader.gif" alt="Seppo">
            </div>       

            <header dir="rtl" class="header-holder">             

                <div class="menu-wrapper  relative">             
                    <div class="header-logo">
                        <a href="index.html">
                            <img id="logo" src="images/logo_with_text.png" alt="Seppo">
                        </a>               
                    </div>

                    <div class="toggle-holder">
                        <div id="toggle">
                            <div class="first-menu-line"></div>
                            <div class="second-menu-line"></div>
                            <div class="third-menu-line"></div>
                        </div>
                    </div>

                    <div class="menu-holder">
                        <nav id="header-main-menu">
                            <ul class="main-menu sm sm-clean">
                                <li>
                                    <a href="#contact">التواصل</a>
                                </li>
                                <li>
                                    <a href="#services">خدماتنا</a>
                                </li>
                    
                                <li>
                                    <a href="#home">الرئسية</a>
                                </li>
                            </ul>
                        </nav>                       
                    </div>
                    <div class="clear"></div>   
                </div>

            </header>                  

            <div dir="" id="content" class="site-content center-relative">        

                <!-- Home Section -->
                <div id="home" dir="rtl" class="section no-page-title">                   
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div class="content-wrapper">                           
                            <h1 class="big-text">
                                أكبر متجر للخضروات  <br>                               
                                والفواكه في ليبيا
                            </h1>
                            <div class="button-holder font-weight-bold">
                                <a href="#portfolio" class="button font-weight-bold" style="font-weight: 900;">تواصل معنا</a>
                            </div>
                        </div>                        
                    </div>
                </div> 

                <!-- Services Section -->
                <div id="services" class="section">                   
                    <div class="page-title-holder">
                        <h3 style="font-weight: 900;" class="entry-title">
                            منتاجاتنا             
                        </h3>
                    </div>
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div class="content-wrapper">

                            <div class="one_fourth ">
                                <div class="service-holder">
                                    <div class="icon-con"><img style="transform: rotate(-60deg);" src="./images/meat.svg" alt="" srcset=""></div>
                                    <div class="service-txt">
                                        <h4>لحوم</h4>
                                        <p>
                                        </p>
                                        <br>
                                
                                    </div>
                                </div>
                            </div>

                            <div class="one_fourth ">
                                <div class="service-holder">
                                    <div class="icon-con"><img style="width: 60%;" src="./images/Vegtables2.svg" alt="" srcset=""></div>
                                    <div class="service-txt">
                                        <h4 class="text-center">خضروات</h4>
                                    
                                        <br>
                               
                                    </div>
                                </div>
                            </div>

                            <div class="one_fourth">
                                <div class="service-holder">
                                    <div class="icon-con"><img src="./images/Fruit.svg" alt="" srcset=""></div>
                                    <div class="service-txt">
                                        <h4 class="text-center">فواكه</h4>
                                        <p>
                                        </p>
                                        <br>
                                
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="one_fourth last">
                                <div class="service-holder">
                                    <div class="icon-con"><img style="transform: rotate(0deg);" src="./images/Groceries.svg" alt="" srcset=""></div>
                                    <div class="service-txt">
                                        <h4 style="font-size: 42px;" class="text-center">مواد اساسبة</h4>
                                        <p>
                                        </p>
                                        <br>
                                
                                    </div>
                                </div>
                            </div>    
                            
                            <div class="clear"></div>
                        </div>                        
                    </div>
                </div>

                <!-- About Section -->
                <div id="about" class="section">                   
                    <div class="page-title-holder">
                        <h3 class="entry-title">
                            ABOUT             
                        </h3>
                    </div>
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div class="content-wrapper">

                            <div class="one_half">
                                <p class="title-description-up">
                                    WHO WE ARE
                                </p>
                                <h2 class="entry-title medium-text">
                                    Live up to <br> 
                                    your creative potential.
                                </h2>
                                <p>
                                    Code the energy hidden in matter citizens of distant epochs from which we spring drake equation perga inconspicuous motespatch clean designed code and energy matter.
                                </p>
                                <br>
                                <div class="button-holder text-left">
                                    <a href="#portfolio" class="button">
                                        LEARN MORE
                                    </a>
                                </div>
                            </div>

                            <div class="one_half last" ">
                                <img src="images/about_01.jpg" alt="" />                     
                            </div>
                            <div class="clear"></div>
                        </div>                        
                    </div>
                </div> 

                          <!-- Millstones Section -->
                <div id="millstones" dir="rtl" class="section">    
                          
                
                    <div class="section-wrapper block content-1170 center-relative" style="padding: 80px 0px 50px 0px;">                                                
                        <div class="content-wrapper">
                            <ul class="milestones-holder">

                                <li class="milestone">
                                    <div class="milestone-info-left">
                                        <img src="./images/payment-method.svg" alt="" srcset="">
                                    </div>
                                    <div class="milestone-info-right">
                                        <h5>طرق دفع متعددة</h5>
                                        <p class="milestone-text text-right">
                                           ,البطاقة المصرفية 
                                           , تداول 
                                            ,خدمة السداد
                                            ,ادفع لي 
                                            ,الشيكات المصدقة 
                                            , موبي كاش
                                        </p>
                                    </div>
                                </li>

                                <li class="milestone">
                                    <div class="milestone-info-left">
                                        <img src="./images/sales.svg" alt="" srcset="">
                                    </div>
                                    <div class="milestone-info-right">
                                        <h5>اسعار منافسة</h5>
                                        <p class="milestone-text">
                                            تخفيضات علي كافة انواع منتجاتنا
                                        </p>
                                    </div>
                                </li>

                               

                            </ul>
                        </div>                        
                    </div>
                </div> 


                <!-- Contact Section -->
                <div id="contact" class="section">                   
                    <div class="page-title-holder">
                        <h3 class="entry-title">
                            CONTACT             
                        </h3>
                    </div>
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div class="content-wrapper">
                            <div class="one_half ">
                                <p class="title-description-up">CONTACT US</p>
                                <h2 class="entry-title medium-text">
                                    Lets start <br>
                                    Working
                                </h2>
                                <p>
                                    Because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept one we are.
                                </p>
                                <br>
                                <div class="social">
                                    <a href="#" target="_blank">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </div>
                                <div class="social">
                                    <a href="#" target="_blank">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </div>
                                <div class="social">
                                    <a href="#" target="_blank">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </div>
                                <div class="social">
                                    <a href="#" target="_blank">
                                        <span class="fa fa-vimeo"></span>
                                    </a>
                                </div>
                                <div class="social">
                                    <a href="#" target="_blank">
                                        <span class="fa fa-behance"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="one_half last ">
                                <div class="contact-form">
                                    <p>
                                        <input id="name" type="text" name="your-name" placeholder="Name">
                                    </p>
                                    <p>
                                        <input id="contact-email" type="email" name="your-email" placeholder="Email">
                                    </p>                                    
                                    <p>
                                        <input id="subject" type="text" name="your-subject" placeholder="Subject">
                                    </p>
                                    <p>
                                        <textarea id="message" name="your-message" placeholder="Message"></textarea>
                                    </p>
                                    <p class="contact-submit-holder">
                                        <input type="submit" value="SEND">
                                    </p>  
                                </div>
                            </div>                            
                            <div class="clear"></div>

                            <p>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4274.290564544589!2d-75.2952832049782!3d40.753669641460846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1444506658649" width="600" height="450" allowfullscreen="allowfullscreen"></iframe>
                            </p>

                        </div>                        
                    </div>
                </div> 
            </div>

            <!-- Footer -->
            <footer class="footer">
                <div class="footer-content center-relative">
                    <div class="footer-logo">
                        <img src="images/footer_logo.png" alt="Seppo" />
                    </div>        
                    <div class="footer-logo-divider"></div>
                    <div class="footer-mail">            
                        <a href="mailto:hello@site.com">hello@cocobasic.com</a>
                    </div>
                    <div class="footer-social-divider"></div>
                    <div class="social-holder">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-behance"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-dribbble"></span>
                        </a>
                    </div>

                    <div class="copyright-holder">
                        © 2018 Seppo HTML Template by <a href="https://cocobasic.com">CocoBasic</a>            
                    </div>
                </div>
            </footer>
        </div>

        <!--Load JavaScript-->
        <script src="js/jquery.js"></script>			                                       
        <script src="js/jquery.sticky.js"></script>			                                       
        <script src="js/tipper.js"></script>			                                       
        <script src="js/jarallax.js"></script>			                                       
        <script src="js/jarallax-element.min.js"></script>			                                       
        <script src='js/imagesloaded.pkgd.js'></script>                
        <script src='js/jquery.fitvids.js'></script>                
        <script src='js/jquery.smartmenus.min.js'></script>                                 
        <script src='js/isotope.pkgd.js'></script>                                                 
        <script src='js/owl.carousel.min.js'></script>                          
        <script src='js/jquery.sticky-kit.min.js'></script>                          
        <script src='js/main.js'></script>
    </body>
</html>